<%- include('../../includes/header') %>
<%- include('../../includes/nav') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        
                        <a class="btn btn-danger"  href="/categories/delete/<%= category.id %>">Deletar</a>

                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<script src="deleteCategory.js"></script>
<%- include('../../includes/footer') %>